@page "/Bans"
@attribute [Authorize(Policy = "Admin")]
@inject IBanAppealData appealData
@inject IUserData userData
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider

<h1>Bans</h1>

@code {
    private UserModel loggedInUser;
    private List<BanAppealModel> banAppeals;

    protected override async Task OnInitializedAsync()
    {
        loggedInUser = await authProvider.GetUserFromAuth(userData);
        banAppeals = await appealData.GetAllBanAppealsAsync();
    }
}
