@page "/InviteFriend/Server/{Id}"
@attribute [Authorize]
@inject IServerData serverData
@inject IUserData userData
@inject IBanData banData
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider authProvider

<h1>Invite friend to </h1>

@code {
    [Parameter]
    public string Id { get; set; }

    private string selectedFriendId = "";

    private UserModel loggedInUser;
    private ServerModel server;
    private List<BasicUserModel> friends;
    
}
