<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-12 NotAuthorized NotAuthorized-form-layout">
        <div class="row">
           <div class="col-11">
                <div class="fw-bold mb-2 fs-5">Authorization Required</div>
                <p>
                    You are not authorized to view this page. You must be logged in.
                    You do not have the required roles to access this page.
                </p>
           </div>
           <div class="col-1 close-button-section">
               <a class="btn btn-close btn-close-white" href="MicrosoftIdentity/Account/SignIn"></a>
           </div>
        </div>
    </div>
</div>
