@page "/Users/{SearchText}"
@page "/Users"
@attribute [Authorize]
@inject IUserData userData
@inject IBanData banData
@inject IConfiguration config
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject ProtectedSessionStorage sessionStorage

@if (ban is null)
{
    <h1 class="page-heading mb-4">Users</h1>

    <div class="row mb-4">
        <div class="text-uppercase fw-bold">@users?.Count users</div>
        <div class="col-md-12 col-xl-12">
            <input type="text" placeholder="Search"
                aria-label="Search Box" class="form-control bg-dark text-light input-section"
                @oninput="(async(txt) => await OnSearchInput((string)txt.Value))"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-10">
            <div class="row">
                <div class="col-12">
                    @if (users?.Count > 0)
                    {
                        <Virtualize Items="users" Context="u" OverscanCount="10">
                            <DisplayImgComponent @key="u.Id" 
                                IsClickable="false" 
                                ImageSource="@u.FileName"
                                OpenDetails="(() => OpenDetails(u))">
                                <ChildContent>
                                    <h5 class="card-title">@u.DisplayName</h5>
                                    <p class="card-text">
                                        Friend Code: 
                                        <span class="fw-bold text-danger">@u.FriendCode</span>
                                    </p>
                                    <p class="card-text">
                                        Date Joined: @u.DateCreated.ToString("dd/MM/yyyy")
                                    </p>
                                </ChildContent>
                            </DisplayImgComponent>
                        </Virtualize>
                    }
                    else
                    {
                        <div class="text-center">
                            <div class="spinner-border text-primary" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <Banned />
}


