@inject IConfiguration config

<div class="card bg-dark border-white mb-4 @ClickableClass()">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="@BodyClass">
                <div class="card-body" @onclick="OpenDetails">
                    @ChildContent
                </div>
                @SettingsContent
            </div>
        </div>
    </div>
</div>


